@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

*{
  padding: 0px;
  margin: 0px;
}
.main_body{
  padding-top: 59px;
  padding-bottom: 59px;
}
nav{
  padding: 10px;
  background: #ff9800;
  box-shadow: 9px 6px 55px -14px;
  position: fixed;
  width: 97%;
  top: 0;
}
.logo{
  font-family: 'Source Sans Pro', sans-serif;
}
.nav-part-one{
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.nav-part-two{
  display:flex;
  justify-content: space-between;
  align-items: center;
/*   justify-content: space-around; */
}
.logo{
  display:flex;
}
.logo .nav-icons{
  margin: 0px 3px 0px 15px;
  padding: 5px;
  width: 20px;
  height: 20px;
}
.logo div img{
  width: 100%;
}

.span-message{
 position: relative; 
}

.logo .nav-icons span{
  padding: 0px 5px 0px 5px;
    position: absolute;
    top: -5px;
    right: -11px;
    background: #2d2a2a;
    border-radius: 11px;
    font-size: 13px;
    color: white;
}
.nav-part-two input{
  background: none;
  border: none;
  border-bottom: 1px solid white;
  width: 90%;
  color: white;
}

.nav-part-two input:focus
{
  outline: none;
}
.nav-part-two input::placeholder { 
color: white;
}

.nav-part-two .logo .nav-icons{
  margin:0px;
}
/*  */
.bottom-nav{
  z-index: 3;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 5px;
    background-color: #ff9800;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 9px -6px 55px -14px;
    align-items: center;
}
.icon {
  width: 21px;
  height: 20x;
  padding-left: 9px;
  padding-right: 9px;
}


.active{
  width:30px;
  height: 30x;
  padding-left: 10px;
  padding-right: 10px;
}
/*  */
.menu-model{
  display: none;
  position:fixed;
  width: 100%;
  bottom:50px;
}
.menu_post_modal{
  display: flex;
  justify-content: space-evenly;
  align-items: center ;
  background: lightgray;
  width: 90%;
  margin: 0 auto;
  border-radius: 5px;
  padding: 5px;
}
.active_modal{
  display:block;
}

/* lo */
.logincontainer input[type=email], .logincontainer input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.logincontainer button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.logincontainer button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imglogincontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

.logincontainer {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
/*  */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

*{
  padding: 0px;
  margin: 0px;
}
.feedContainer{
  width: 100%;
  margin-top: 20px;  
  margin-bottom: 20px;
  border: 1px solid darKgray;
  box-shadow: 0px 0px 70px 1px #d8d7d7;
}
.feed_icons{
  display: flex;
  justify-content: space-between;
  
}
.feed_icon{
    width: 25px;
    margin: 5px 10px 0px 2px;
    
}
.feed_icon img{
  width: 100%;
}
.group_icon{
  display: flex;
  margin: 6px 10px 10px 10px;
}
hr{
  color: grey;
}
.feed_caption{
  margin: 5px 10px 20px 10px;
 font-family: 'Source Sans Pro', sans-serif;
  }
.feed_header{
  display: flex;
  justify-content: space-between; 
  align-items: center;
  margin: 10px 10px 5px 10px;;
}
.avatar{
  border: 1px solid gray;
  width: 55px;
  height: 55px;
  border-radius: 50%;
}
.feed_left{
  display: flex;
  align-items: center;
}
.avatar_name{
  margin-left: 10px;
  font-family: 'Source Sans Pro', sans-serif;
}
/* login vala parting */

.lcontainer{
  height: 100vh;
  display: flex;
  background: #f1f1f1ab;
}

.centered-element{
margin:auto;
display: flex;
width: 80%;
}
.group-input{
width: 100%;
margin:25px 0px 25px 0px;
}
form{
width: 100%;
}
.group-input input{
width: 100%;
border-radius: 3px;
padding: 10px;
}
.cntr{
text-align: center;
}
.cntr input{
padding:9px;
width:40%;
border-radius: 5px;
border:none;
color: white;
background: darkorange;
}
.login_link{
  font-size: 18px;
  margin: 15px 0 7px 0px;
  color: blue;
text-align: right;
}
